/* &display=swap&subset=cyrillic-ext */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap&subset=cyrillic-ext");
@font-face {
	font-family: "Press Start 2P";
	src: url("../fonts/PressStart2P-Regular.woff2") format("woff2"),
		url("../fonts/PressStart2P-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

/* li {
	list-style: none;
} */

a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

H1,
h2,
h3 {
	font-family: "Press Start 2P";
	font-size: 20px;
	text-transform: uppercase;
}

h1 {
	font-size: 28px;
	text-align: center;
	margin: 40px;
	max-width: 1000px;
}

h2,
h3 {
	margin: 10px 20px;
}

h3 {
	font-size: 24px;
}

p {
	font-family: "Montserrat Alternates", sans-serif;
	margin: 10px 40px;
}

body {
	background-color: black;
	color: #ff8000;
}

header {
	background-color: chartreuse;
	margin: 0px;
	padding: 40px;
	max-width: 100%;
}

main {
	padding: 10px 20px;
	margin: 0px;
}

footer {
	padding: 10px 20px;
	margin: 0px;
	background-color: cornflowerblue;
}

footer {
	color: black;
}

img {
	max-width: 900px;
	width: 100%;
	min-width: 320px;
	min-height: auto;
	padding: 20px 0px;
}

.main-img {
	text-align: center;
}

nav {
	padding: 0px 60px;
	font-size: 20px;
	color: cornflowerblue;
}

.footer-link {
	display: inline-block;
}

.heder-text1 {
	overflow: auto;
	max-height: 50px;
	max-width: 400px;
}

p.none {
	display: none;
}

.main-text2 {
	display: inline;
	margin: 10px 0px;
}

.main-text3 {
	overflow: scroll;
}

.one {
	display: inline;
	margin: 10px 0px;
}

.added {
	display: block;
}

.added2 {
	display: inline-block;
	max-width: 200px;
	max-height: 200px;
	padding: 15px;
}

.added3-link {
	display: block;
}

.added3 {
	margin: 0px 0px 30px 0px;
	display: inline-block;
}

.added4 {
	max-width: 100px;
	display: inline-block;
	padding: 10px;
	margin: 15px;
}

.added5 {
	padding: 30px;
}

.added6 {
	margin: -65px 0px 0px 0px;
}

.added7 {
	margin: 30px;
	display: block;
	height: 200px;
	overflow: auto;
}
